@import url(https://fonts.googleapis.com/css2?family=DotGothic16&display=swap);

*{
  box-sizing: border-box;
  margin: 8px;
}

header{
  font-family: DotGothic16;
}

.slot{
  width: 100px;
  height: 100px;
  background-color: rgb(38, 51, 230);
  overflow: hidden;
}

.hole{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 50px rgba(203, 223, 241, 0.637) solid;
  position: relative;
  left: -8px;
  top: -8px;
  
}

.field-playerMoon{
  background-color: rgb(123, 197, 240);
}

.field-playerSun{
  background-color: rgb(224, 194, 21);
}

#board{
  display: flex;
}