@import url(https://fonts.googleapis.com/css2?family=DotGothic16&display=swap);

*{
  box-sizing: border-box;
margin: 0;
}

body{
  
  background-image: url("cloud.gif"); 
  background-repeat: repeat-y;
  background-size: cover;
  min-height: 100vh;
  font-family: DotGothic16;
  text-align: center;
  font-size: 1.1rem;
  
}

main{
  display: flex;
  justify-content: center;

}

header{
  border-radius: 0.5rem;
  margin: 0.6rem;
} 

.field,
.reset{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(219, 201, 201);

}



.slot{
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 0.5rem;
}

.hole{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px  rgb(87, 87, 214) solid;
  background: transparent;
 /*um jeito de deixar transparente*/
  position: relative; 
}

/* important to leave only .playMoon(not field-playerSun) to tag the player in the hole*/
.playerMoon .hole{
  background-color: rgb(115, 192, 228);
  
}


.playerSun .hole{
  background-color: orange;
  
  
}

.hole:hover{
  background-color: rgb(87, 87, 214) ;
}

.field-playerMoon,
.field-playerSun,
.field-counter,
.field-player{
  padding: 0.2rem;
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 2.5rem;
  border: 2px solid rgb(87, 87, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8em;
 
}



.field-playerMoon{
  background-color: lightblue;
  color: black;
  
}

.field-playerSun{
  background-color:orange;
  color: black;
  
}


 
/*select the p only in field-playerMoon class*/
.field-playerMoon > p{
  font-weight: 590;
}



.shadow {
  box-shadow: 
  2px 4px 3px 2px rgba(0, 0, 0, 0.15)
}

#board{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 925px;
  height: 680px;
  border: 3px rgb(87, 87, 214) solid;
  border-radius: 0.5rem;
  box-shadow: -7px 1px 16px 1px rgba(56, 86, 122, 0.6);
  
}

.reset{
  margin: 0.5rem;
  padding: 0.2rem;
  color: rgb(75, 75, 224);
  border: 2px solid rgb(87, 87, 214);
  font-weight: 1000;
  width: 8rem;
  transform: translate(500%);
  border-radius: 0.5rem;
  cursor: pointer;


}

.btn-newGame  {
  cursor: pointer;
  width: 90px;
  transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
  font-size: .8em;
} 

.btn-newGame:hover {
  padding-left: 0.5rem;
  border-left: 0.3rem solid ;
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
}
/* victory animation */

.overlapping{
  z-index: 9;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  background-color:rgba(133, 190, 236, 0.3);
  visibility: hidden;
}

@keyframes displaying {
  0% {
    opacity: 0;
    transform: scale3d(9, 1, 1) translateX(-10vw);
    box-shadow: var(--bigShadow);
  }
  40% {
    box-shadow: none;
    transform: scale3d(1, 1, 1) translateX(0);
  }
  45% {
    opacity: 1;
    transform: scale3d(0.35, 1.8, 1);
  }
  75% {
    box-shadow: none;
    transform: scale3d(0.35, 1.8, 1);
  }
  80% {
    box-shadow: var(--shadow);
    transform: scale3d(1.1, 1, 1);
  }
  85% {
    transform: scale3d(1.4, 1, 1);
  }
  100% {
  }
}

.animation {
  z-index: 10;
  visibility: hidden;
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  top: 35%;
  left: 39%;
  width: 350px;
  height: 250px;
  background-color: white;
  transform-origin: 100% 50%;
}

.on {
  visibility: visible;
  animation: appear 1.5s 
}